<!-- ドットインストール Vue.jsの基本をおさえよう -->
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css">
	<title>My Vue App</title>
</head>
<body>
	
	<!-- #2 -->
	<div class="container" id="app">
		<!-- UIの反映は{{}}で表現 -->
		<!-- <p>Hello {{ name }}!</p> -->
		<!-- nameの値を大文字に反映 -->
		<!-- #2終了 -->
		<!-- <p>Hello {{ name.toUpperCase() }}!</p> -->
		<!-- UIからデータへの反映 -->
		<!-- <p><input type="text" v-model="name"></p> -->

		<!-- #3 todoアプリ -->
		<h1>My Todo</h1>
		<ul>
			<!-- データを表示 -->
			<!-- <li>{{ todos[0] }}</li>
			<li>{{ todos[1] }}</li>
			<li>{{ todos[2] }}</li> -->

			<!-- ループ -->
			<li v-for="todo in todos">{{ todo }}</li>
		</ul>
		<!-- 入力フォーム -->
		<form>
			<input type="text">
			<input type="submit" value="add">
		</form>
	</div>
	<!-- /#2〜#4終了 -->

	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
	<script src="js/main.js"></script>
</body>
</html>